<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">
	<!-- wp:the-another/dokan-store-list {"columns":5,"displayLayout":"grid","align":"wide"} -->
		<!-- wp:the-another/dokan-store-search {"enableSearch":true,"enableSortBy":true} /-->
		<!-- wp:the-another/dokan-store-card {"style":{"spacing":{"padding":{"top":"1.5rem","bottom":"1.5rem","left":"1.5rem","right":"1.5rem"}}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"center"}} -->
			<!-- wp:the-another/dokan-store-avatar {"width":"10rem","height":"10rem","style":{"border":{"radius":"50%"}}} /-->
			<!-- wp:group {"style":{"spacing":{"margin":{"top":"1rem"}}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"center"}} -->
				<!-- wp:the-another/dokan-store-name {"tagName":"h3","style":{"typography":{"fontSize":"1.25rem","fontWeight":"500"}}} /-->
			<!-- /wp:group -->
		<!-- /wp:the-another/dokan-store-card -->
		<!-- wp:the-another/dokan-store-query-pagination {"paginationArrow":"arrow","showLabel":true} /-->
	<!-- /wp:the-another/dokan-store-list -->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
